URxvt.font: -windows-proggytinysz-medium-r-normal--10-80-96-96-c-60-iso8859-1
URxvt.boldFont:
URxvt.scrollBar: False

URxvt.background: #3d3d3d
URxvt.foreground: #f0f0f0

! black
URxvt.color0: #323232
URxvt.color8: #666666

! red
URxvt.color1: #d6647c
URxvt.color9: #ff7793

! green
URxvt.color2: #ce8097
URxvt.color10: #f99bb6

! yellow
URxvt.color3: #c19ab8
URxvt.color11: #fac2e8

! blue
URxvt.color4: #42749c
URxvt.color12: #69aedd

! magenta
URxvt.color5: #7ca5c7
URxvt.color13: #acd9ff

! cyan
URxvt.color6: #8cbab2
URxvt.color14: #b1e9f5

! white
URxvt.color7: #bfbfbf
Urxvt.color15: #f5f5f5
